<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Design Studio</title>
    <link rel="stylesheet" type="text/css" href="../static/styles.css" />
  </head>
  <body>
    <header>
      <div class="logo">Design Studio</div>
      <nav>
        <ul>
          <li><a href="index.html">Home</a></li>
          <li><a href="services.html">Our Services</a></li>
          <li><a href="portfolio.html">Portfolio</a></li>
          <li><a href="contact.html">Contact Us</a></li>
          <li><a href="testimonials.html">Testimonials</a></li>
          <li class="dropdown">
            <a href="javascript:void(0)" class="dropbtn">Raise Ticket</a>
            <div class="dropdown-content">
              <a href="ticket.html">Submit a Ticket</a>
              <a href="onboarding.html">Client Onboarding Form</a>
            </div>
          </li>
        </ul>
      </nav>
    </header>

    <section id="template-details">
      <h1>Template 2 Details</h1>
      <div class="template-preview">
        <img
          src="../static/image/path_to_template_image2.avif"
          alt="Template 2"
        />
      </div>
      <div class="template-info">
        <h2>Features:</h2>
        <ul>
          <li>Responsive Design</li>
          <li>Modern Layout</li>
          <li>SEO Optimized</li>
          <li>Cross-Browser Compatibility</li>
        </ul>
        <h2>Description:</h2>
        <p>
          This template is perfect for businesses looking for a modern and clean
          design. It offers a responsive layout, ensuring your website looks
          great on all devices. With SEO optimization and cross-browser
          compatibility, you'll reach a wider audience effortlessly.
        </p>
        <button onclick="window.location.href='../login2/login.php'">
          Contact Us for Customization
        </button>
      </div>
    </section>

    <footer>
      <div class="footer-content">
        <div class="contact-info">
          <p>Email: info@designstudios.com</p>
          <p>Phone: +91 90807 54367</p>
          <p>Address: 15 New Colony Street, Chrompet, Chennai</p>
        </div>
        <p>&copy; 2025 Design Studio. All rights reserved.</p>
        <p>Follow us on:</p>
        <ul class="socials">
          <li>
            <a href="https://www.facebook.com/"
              ><img src="../static/icons/facebook.png" alt="Facebook"
            /></a>
          </li>
          <li>
            <a href="https://x.com/?lang=en"
              ><img src="../static/icons/twitter.png" alt="Twitter"
            /></a>
          </li>
          <li>
            <a href="https://www.instagram.com/accounts/login/?hl=en"
              ><img src="../static/icons/instagram.png" alt="Instagram"
            /></a>
          </li>
        </ul>
      </div>
    </footer>
  </body>
</html>
